---
layout: default
permalink: /
section_id: home
---


  <div id="home" class="card">
    <h2>hi.</h2>
    <div id="shortBio">
      <p>I am an <a href="https://www.colorado.edu/atlas/anthony-pinter"> Assistant Teaching Professor of Creative Technology and Design in the ATLAS Institute</a> at the University of Colorado Boulder. I teach courses on web design and development, programming and computational thinking, and on telling stories with data.</p>

      <p>My research interests focus on understanding the experiences people have during life transitions and how those experiences are represented in sociotechnical systems. I am particularly interested in how people make decisions about the data that are left behind in the wake of a romantic relationship ending, and how those decisions contribute to the formation of post-break-up identities.</p>
      <!-- I completed my PhD in Information Science, also at CU Boulder, working with <a href="https://www.jedbrubaker.com">Jed Brubaker</a> and <a href="https://cmci.colorado.edu/idlab/">the Identity Lab</a>. My research interests focus on understanding the experiences people have during life transitions and how those experiences are represented in sociotechnical systems. I am particularly interested in how people make decisions about the data that are left behind in the wake of a romantic relationship ending, and how those decisions contribute to the formation of post-break-up identities.-->
      <p>I am concurrently <a href="https://ist.psu.edu/directory/atp136">an Adjunct Part-Time Faculty member</a> in Penn State's College of Information Sciences and Technology, where I have taught through Penn State's World Campus program since 2016. I am also involved in the <a href="https://www.i3-inclusion.org">iSchool Inclusion Institute (i3)</a>, most recently as a Research Advisor for a team of 2022 i3 Scholars.</p>

    </div>

    <!-- <i class="fa fa-info-circle"></i>-->
    <!-- <a href="/projects/certainsongsarecursed.html"><div markdown="span" class="alert alert-info" role="alert"> I'm currently running a survey project about break-up songs and memories. Interested in participating? Click here for more information and for a link to the survey!</div></a> -->

    <div id="news">
      <div id="news-title">
        <h2>most recently.</h2>
      </div>
      <ul>
        {% for item in site.data.news limit: 4 %}
        <li>
          <div><p style="padding-top:0; margin-top:0; text-transform:uppercase; color:#1e1e1e; letter-spacing:.6px;font-weight:500; ">{{item.date | date: "%d %B %Y"}}</p></div>
          <p>{{item.headline}}</p>
        </li>
        {% endfor %}
      </ul>
      <div id="news-more">
        <a id="news-more">archive.</a>
      </div>
    </div>
  </div>

  <div id="newsarchive" class="card">
    <div id="news">
      <div id="news-title">
        <h2>news archive.</h2>
      </div>
      <ul>
        {% for item in site.data.news %}
        <li>
          <div><p class="news-date"  style="padding-top:0; margin-top:0; text-transform:uppercase; color:#1e1e1e; letter-spacing:.6px;font-weight:500; ">{{item.date | date: "%d %B %Y"}}</p></div>
          <p>{{item.headline}}</p>
          
        </li>
        <br>
        {% endfor %}
      </ul>
      <div id="news-more">
        <a id="back">back.</a>
      </div>
    </div>
  </div>

  <div id="about" class="card">
    <h2>about.</h2>
    <div id="fullBio">
      <p>I completed my PhD in Information Science, also at CU Boulder, working with <a href="https://www.jedbrubaker.com">Jed Brubaker</a> and <a href="https://cmci.colorado.edu/idlab/">the Identity Lab</a>. My dissertation explored how people consitute post-break-up identities in social media sites, making decisions about the types of identities they want to display to their audiences, and how platform design helps or hinders that identity re-formation process. </p>
        
      <p>Prior to that, I completed my B.S. and M.S. in Information Sciences and Technology at the Pennsylvania State University in 2015 and 2017, respectively. My M.S. was overseen by <a href="https://faculty.ist.psu.edu/lyarger/">Lynette (Kvasny) Yarger</a>.</p>

      <p>I spend most of my free time riding or thinking about bikes and skis (depending on the season). I ride all disciplines on bikes year round, but train specifically for long rides and races like the <a href="https://www.leadvilleraceseries.com/mtb/leadvilletrail100mtb/">Leadville 100 MTB </a>. I am also the Head Coach of Boulder High School's <a href="https://bouldertrack.com">Boys Track & Field program</a>, where I am in charge of the sprints, jumps, and throws programs. I hold a USATF Level 2 Coaching Certification in the Jumps.</p>
    </div>
    <h2>contact.</h2>
    <div id="fullBio">
      <p>Generally the best way to contact me is via email: <a href="mailto:anthony.pinter@colorado.edu">anthony.pinter@colorado.edu.</a></p>
      <!-- <p>I maintain a <a href="https://twitter.com/anthonypinter?lang=en">Twitter</a>, but I only use it during conferences.</p>
      <p>I can be found on <a href="https://github.com/anthonypinter">Github</a>. -->
      <!-- <p>I'm also on <a href="https://www.instagram.com/anthonypinter/">Instagram</a>, if you'd be interested in seeing what I do in my personal life. -->
      <!-- <p>For a long time, I had a static website inspired primarily by <a href="ttps://github.com/weightshift/The-Personal-Page">The Personal Page</a> by Naz Hamid at <a href="https://weightshift.com">Weightshift</a>. However, as I enter the last year of my doctoral work, I felt it was time to do something a bit more substantial. I've always been a bit of a minimalist when it comes to design. I was taken with <a href="http://mornaaman.com">Mor Naaman's personal website</a>, but wanted the Jekyll functionality I had come to enjoy from working on <a href="https://cmci.colorado.edu/idlab/">the Identity Lab's site</a>. So I combined the two (with substantial design tweaks), and here we are. You can find the repo for this particular design on <a href="https://github.com/anthonypinter/anthonypinter.github.io">my Github</a>.</p> -->
    </div>
  </div>

  <div id="publications" class="card">
    <h2>recent publications.</h2>
    <ul>
      {% for item in site.data.publications limit: 4 %}
      <li>
        <div id="p-info">
          <span id="p-author">{{item.authors}}. </span><span id="p-author">{{item.year}}.</span>
          <span id="p-title">{{item.title}}.</span>
          <span id="p-source"><em>{{item.venue}}.</em></span><br>
          {% if item.pdf %}
          <span id="p-source"><a href="./assets/papers/{{item.pdf}}">PDF</a></span>
          {% endif %}
          {% if item.blog %}
            <span id="p-source"><a href="{{item.blog}}">Blog</a>
          {% endif %}
          <p>
        </div>
      </li>
      {% endfor %}
      </ul>
      <div id="news">
        <div id="news-more">
          <a href="https://scholar.google.com/citations?user=Vq_3XusAAAAJ&hl=en&oi=ao">more via google scholar</a><br>
          <a href="/assets/pintercv.pdf">or via my cv.</a>
        </div>
      </div>
    </div>

  <div id="projects" class="card">
    <h2>recent projects.</h2>
    <ul>
      {% for item in site.data.projects limit: 4 %}
      <li class="projects-list">
        <div id="p-info">
          <span id="p-title"><b>{{item.title}}</b></span><br>
          <span id="p-author">{{item.description}} </span>
          <span id="p-author"><a href='{{item.link | prepend: site.baseurl}}'>Read more about this project...</a></span><br>
          <p></p>
        </div>
      </li>
      {% endfor %}
      </ul>

  </div>

  <div id="cv" class="card">
    <h2>curriculum vitae</h2>
    <div id="shortBio">
      <p><a href="/assets/pintercv.pdf" target="_blank" rel="noopener noreferrer">Click here to open PDF in a new window.</a></p>
    </div>
  
    <iframe src="/assets/pintercv.pdf" width="100%" height="500px">
      </iframe>
  </div>

  <!-- <div id="contact" class="card">
    <h2>contact me.</h2>
    <div id="shortBio">
      <p>Generally the best way to contact me is via email: <a href="mailto:anthony.pinter@colorado.edu">anthony.pinter@colorado.edu.</a></p>
      <p>I maintain a <a href="https://twitter.com/anthonypinter?lang=en">Twitter</a>, but I only use it during conferences.</p>
      <p>I can be found on <a href="https://github.com/anthonypinter">Github</a>.
      <p>I'm also on <a href="https://www.instagram.com/anthonypinter/">Instagram</a>, if you'd be interested in seeing what I do in my personal life.
    </div>
  </div> -->