@font-face {
    font-family: GT-Walsheim-Light;
    src: url("./GT-Walsheim-Light.otf") format("opentype");
}

@font-face {
    font-family: GT-Walsheim-Medium;
    src: url("./GT-Walsheim-Medium.otf") format("opentype");
}

html, body {
  background-color: #f8f8f8
  color: #3d3936;
  font-size: 22pt;
  text-align: center;
  line-height: 28pt;
  letter-spacing: 1px;
  font-family: GT-Walsheim-Light;
}

.logo {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 150px;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(249, 230, 213), rgb(175, 204, 229));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blurb {
  padding-left: 450px;
  padding-right: 450px;
}

.contact-logos {
  padding: 50px;
}

a {
  font-family: GT-Walsheim-Medium;
  color: #3d3936;
  text-decoration: none;
  line-height: 28pt;
}

a:hover {
  background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
