
body {
    background-image: url("assets/bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    
}

h1, h2 {
    border: red solid 1px;
}



p {
    vertical-align: middle;
}

#top {
    border: none;
}

/* TITLE BLOCK */


#title-block {
    text-align: center;  
    border: none; 
    margin-bottom: 5em;
}

#title {
    height: inherit;
    width: 60%;
}

/* MIDDLE BLOCK, 2 QUOTES, 1 PICTURE */

#quotes {
    display: flex;
    align-items: center;
    padding: 1em;
    border: none;
}

#einstein-quote {
    text-align: center;
    width: 75%;
    height: auto;
    border: none;
}

#einstein {
    height: inherit;
    width: inherit;

}

#theory-blurb {
    text-align: center;
    margin: 1em;
    width: 70%;
    height: auto;
    border: none;
}

#theory {
    height: inherit;
    width: inherit;
}

#gravitywell {
    text-align: center;  
    border: none;
    margin: 2.5em 0;

}

#gravitywell-caption {
    width: 30%;
    height: auto;
}

/* LINKS BLOCK */

#links {
    display: flex;
    justify-content: center;
    align-items:baseline;
    margin-bottom: 5em;
}

#contact-price {
    width: 50%;
}

#contact-photo {
    width: 80%;
    padding: 2.5em 2.5em;
}


#eddie-pic {
    padding: 0 2em;
    width: 10%;
    align-self: flex-end;
}

#meso-pic {
    padding: 0 2em;
    width: 5%;    
    align-self: flex-end;
}

#demo-btn {
    margin-left: 2.5em;
    text-align: right;
}

#btn {
    width: 60%;
    padding: 0 2.5em;
    

}


/* BOTTOME HALF OF PAGE */

#bottom {
    background-image: url("assets/bottom-bg.jpg");
    background-size: cover;
    background-clip: border-box;
}

.mode-images {
    display:flex;
    justify-content: space-between;
}

#standalone {
    width:45%;
}

#demo {
    width: 40%;
}

#description-text {
    display:flex;
    justify-content: space-between;
}

#standalone-text {
    width:35%;
}

#bestexhibit {
    width:30%;
}

#demo-text {
    width: 35%;
}

#bottom-row {
    display:flex;
    justify-content: space-between;
}

#x {
     width:35%;
}

#y {
     width:30%;
}

#z {
     width:35%;
}