<div class="left">
  <div id="headshot">
    <a href="/"><img src="./assets/headshot.jpg"></a>
  </div>
  <a href="/"><h1>Anthony Pinter.</h1></a>
  <ul id="navi">
    <li id="navi-home">
      <a id="navi" href="index.html">home.</a>
    </li><p></p>
    <li id="navi-about">
      <a id="navi" href="about.html">about.</a>
    </li><p></p>
    <li id="navi-about">
      <a id="navi" href="cv.html">cv.</a>
    </li><p></p>
    <li id="navi-publications">
      <a id="navi" href="publications.html">publications.</a>
    </li><p></p>
    <li id="navi-publications">
      <a id="navi" href="contact.html">contact.</a>
    </li><p></p>
  </ul>
</div>
